[Unit]
Description=Hotspot Auto-Start Helper
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service
Before=hostapd.service

[Service]
Type=oneshot
ExecStart=/home/pi/RaspberryPi_Code/hotspot_autostart.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
